@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.match-simulator .scoreboard {
  width: 304px;
  height: 58px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.match-simulator .scoreboard .team-padding {
  width: 95px;
  height: 58px;
  padding: 4px;
  background-clip: padding-box;
  background-color: #e2e2e2;
}

.match-simulator .scoreboard .team {
  display: block;
  width: 95px;
  height: 58px;
  background-color: #1e1e1e;
  position: relative;
}

.match-simulator .scoreboard .team-name {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  transform: translate(24%, 83%);
  color: #e2e2e2;
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}

.match-simulator .scoreboard .score {
  display: flex;
  justify-content: space-between;
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: #e2e2e2;
  margin-top: 22px;
  width: 73px;
}

.match-simulator .scoreboard .scorer {
  position: absolute;
  bottom: -34px;
  left: 0;
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #e2e2e2;
  text-transform: uppercase;
}

.match-simulator .timebar {
  width: 100%;
  height: 33px;
  background-color: #fbff21;
  margin-bottom: 33px;
}

.match-simulator .timebar .time {
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0 auto;
  padding-top: 8px;
  color: #1e1e1e;
  text-align: right;
}
